{% load static %}
<!DOCTYPE html>
<html lang="es_AR">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LALCEC</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>


<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'inicio'  %}"><img src="{% static '/img/avataarsnobg.png' %}" width="140" height="60"alt="icono"></a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'inicio'  %}">INICIO</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://127.0.0.1:8000/accounts/logout/">CERRAR SESION</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'lista_post'  %}"><img src="{% static 'img/fotoperfil5nobg.png' %}" width="40" height="40"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-black">
    <div class="container px-4 px-lg-5">
      <div class="row gx-5 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->     
          {% if post_list %}
            {% for post in post_list %}
              <div class="post-preview">
                <a href="{% url 'detalle_post' post.url %}">
                  <h2 class="post-title">
                    {{ post.titulo }}
                  </h2>
                </a>
                <h3 class="post-subtitle">
                  {{ post.descripcion }}
                </h3>
                <p class="post-meta">
                  Publicado {{ post.creado }} por <strong>{{ post.autor }}</strong>
                  
                </p>
              </div>
            {% endfor %} 
          {% else %}
          <h2 class="text-uppercase mb-4">no hay lista de post</h2>
          {% endif %}
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Pager-->
          <div class="d-flex justify-content-end mb-4">
            {% block pagination %}
              {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                          <a class="btn btn-primary text-uppercase" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> Post nuevos</a>
                        {% endif %}
                        <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                          <a class="btn btn-primary text-uppercase" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Post anteriores →</a>
                        {% endif %}
                    </span>
                </div>
              {% endif %}
            {% endblock %} 
          </div>
        </div>
      </div>
    </div>
  </header>

  <style>body {background-color: #f7be72;}</style>
 
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <h2 class="text-uppercase mb-4">filial: Presidencia Roque Saenz Peña, Chaco</h2>
      <div class="row">
        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Direccion</h4>
          <p class="lead mb-0">Dorrego 478
            <br>Lunes a Viernes 8:00 a 12:00hs</p>
        </div>
        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/LALCECHACO/">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/lalcecspchaco/">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0">
            (0364) 410-5595
            lalcecspchaco@gmail.com
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>LALCEC &copy; Informatorio 2022</small>
      <div class="badge-base LI-profile-badge" 
        data-locale="es_ES" 
        data-size="small" 
        data-theme="light" 
        data-type="VERTICAL" 
        data-vanity="dario-ricardo-romero" 
        data-version="v1">
          <a class="badge-base__link LI-simple-link" 
            href="https://ar.linkedin.com/in/dario-ricardo-romero?trk=profile-badge">
            linkedin: Dario Romero
          </a>
      </div>
      
      <div class="badge-base LI-profile-badge" 
        data-locale="es_ES" 
        data-size="small" 
        data-theme="light" 
        data-type="VERTICAL" 
        data-vanity="santiago-cabrera-0a1120238" 
        data-version="v1">
          <a class="badge-base__link LI-simple-link" 
            href="https://ar.linkedin.com/in/santiago-cabrera-0a1120238?trk=profile-badge">
            linkedin: Santiago Cabrera
          </a>
      </div>
       
    </div>
  </section>

  

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
