{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ post.titulo }}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>


<body id="page-top">

  <!--scrip para comentario facebook-->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" 
    src="https://connect.facebook.net/es_AR/sdk.js#xfbml=1&version=v14.0&appId=638697580937814&autoLogAppEvents=1" 
    nonce="E3KJe0eq">
  </script>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" 
        href="{% url 'inicio'  %}">
          <img src="{% static 'img/avataarsnobg.png' %}"  width="140" height="60"alt="icono">
      </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" 
        type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
          Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#post">{{ post.titulo }}</a>
          </li>
          
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'lista_post'  %}">FORO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">{{ post.titulo }}</h1>
  </header>

  <section class="page-section portfolio" id="post">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ post.descripcion }}</h2>
    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-heart"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-7">
        
        <div class="media">
          <img src="{{ post.imagen }}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="media">
          <p>{{ post.texto | linebreaks }}</p>
        </div>
        <h4 class="text-uppercase">Autor: {{ post.autor }}</h4>
        <h4 class="text-uppercase">Publicado: {{ post.creado }}</h4>          
      </div>
      <div class="col col-md-4">
        <div class="fb-comments" 
          data-href="http://127.0.0.1:8000/foro/{{ post.url }}" 
          data-width="200" 
          data-numposts="5">
        </div>
      </div>
    </div>
  </section>


  <style>body {background-color: #f7be72;}</style>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <h2 class="text-uppercase mb-4">filial: Presidencia Roque Saenz Peña, Chaco</h2>
      <div class="row">
        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Direccion</h4>
          <p class="lead mb-0">Dorrego 478
            <br>Lunes a Viernes 8:00 a 12:00hs</p>
        </div>
        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/LALCECHACO/">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/lalcecspchaco/">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0">
            (0364) 410-5595
            lalcecspchaco@gmail.com
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>LALCEC &copy; Informatorio 2022</small>
      <div class="badge-base LI-profile-badge" 
        data-locale="es_ES" 
        data-size="medium" 
        data-theme="light" 
        data-type="VERTICAL" 
        data-vanity="dario-ricardo-romero" 
        data-version="v1">
          <a class="badge-base__link LI-simple-link" 
            href="https://ar.linkedin.com/in/dario-ricardo-romero?trk=profile-badge">
              Dario Romero
          </a>
      </div>
              
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div> 

    
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>