{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LALCEC</title>

  <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>


<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="http://127.0.0.1:8000">Inicio<img src="static/img/avataarsnobg.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Caracteristicas</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Reflexion</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">SAENZ PEÑA</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="http://127.0.0.1:8000/accounts/signup">FORO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">

    
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Cancer de Pulmon</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-heart"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">El cáncer de mama es una enfermedad en la cual las células de la mama se multiplican sin control. Existen distintos tipos de cáncer de mama. El tipo de cáncer de mama depende de qué células de la mama se vuelven cancerosas.

        El cáncer de mama puede comenzar en distintas partes de la mama. Las mamas constan de tres partes principales: lobulillos, conductos y tejido conectivo. Los lobulillos son las glándulas que producen leche. Los conductos son los tubos que transportan la leche al pezón. El tejido conectivo (formado por tejido fibroso y adiposo) rodea y sostiene todas las partes de la mama. La mayoría de los cánceres de mama comienzan en los conductos o en los lobulillos.
        
        El cáncer de mama puede diseminarse fuera de la mama a través de los vasos sanguíneos y los vasos linfáticos. Cuando el cáncer de mama se disemina a otras partes del cuerpo, se dice que ha hecho metástasis.</p>

    </div>
  </header>

  
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Caracteristicas del Cancer de Pulmon</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-heart"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- ROW de cancer de mama -->
        <div class="col-md-3 col-lg-4">
          <div class="" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-cyan">
                <i class="fas fa- fa-3x">Sintomas</i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/mama_edited.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="o" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-cyan">
                <i class="fas fa- fa-3x">Tipos</i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/colon1_edited.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-cyan">
                <i class="fas fa- fa-3x">Tratamiento</i>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio/piel1_edited.png" alt="">
          </div>
        </div>
    </div>
  </section>


  <style>
    body {
      background-color: #ffffff;
    }
    </style>


  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">Reflexion sobre el Cancer de Pulmon</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-cross"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
     
      <blockquote class="blockquote">
        
        <p class="mb-0">La Liga Argentina de Lucha Contra el Cáncer (LALCEC) es una organización de la sociedad civil creada el 22 de julio de 1921 por la señora Helena Larroque de Roffo quien, ya desde ese entonces, afirmaba que la mejor manera de reducir la incidencia del cáncer es trabajando en la prevención y la detección temprana de la enfermedad.
          Al igual que su fundadora, LALCEC es una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional. 
          Su sede central está en la Ciudad Autónoma de Buenos Aires y cuenta con más de 100 representaciones en todo el país con las que trabaja de manera mancomunada para alcanzar su misión..

          <img class="img-URL" src="static/img/portfolio/autoridades2.png" alt="">
          <img class="img-URL" src="static/img/portfolio/autoridades3.png" alt="">
          <img class="img-URL" src="static/img/portfolio/autoridades4.png" alt="">
        </p>
        
      </blockquote>

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">

  

    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LALCEC SAENZ PEÑA</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-circle"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="container text-center">
        <h1>La filial Saenz Peña, Chaco</h1>
        <i class="fas fa-facebook-f"></i>
        <!--<p><img src="static/img/saenzpeña1.png" alt=""></p> -->
        <p><img class="rounded" src="{% static '/img/saenzpeña.png' %}" height="400" alt="Cinque Terre"></p> 
      </div>
        
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Contacto</h3>
            <p>Por numero de telefono: 0364 410-5595
              Normalmente responde en unas pocas horas
            </p>
            <p>Por Correo electronico enviar a:
              lalcecspchaco@gmail.com
            </p>
          </div>
          <div class="col-sm-4">
            <h3>Redes</h3>
            <li><a href="https://www.facebook.com/LALCECHACO/">Pagina de Facebook</a></li>
            </a>
            <li><a href="https://www.instagram.com/lalcecspchaco/">Pagina de Instagram</a></li>
            </a>
          </div>
          <div class="col-sm-4">
            <h3>Ubicacion</h3>        
            <p>Ubicada en Dorrego N° 478 3700 Presidencia Roque Sáenz Peña, Argentina</p>
            <p>De lunes a Viernes de 8:00hs a 12:00hs
              Sabado y Domingo Cerrados
            </p>
          </div>
        </div>
      </div>


    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Direccion</h4>
          <p class="lead mb-0">Aráoz 2380, CABA, Argentina
            <br>Lunes a Viernes 8:00 a 19:00hs</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/LALCECARGENTINA/">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/lalcecargentina">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/company/lalcecargentina/?originalSubdomain=ar">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/user/lalcecargentina">
            <i class="fab fa-fw fa-youtube"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://donaronline.org/lalcec/dia-mundial-contra-el-cancer">
            <i class="fas fa-donate"></i>
          </a>
        </div>

        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0">
            Contacto
            Llámanos al (011) 4834-1500
            info@lalcec.org.ar
            
            Lunes a Viernes 8:00 a 19:00hs
            
            Aráoz 2380, CABA, Argentina
            
            ​</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>LALCEC &copy; Informatorio 2022</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sintomas Del Cancer de Pulmon</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cancermama.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">El cáncer de mamas es un padecimiento que puede desarrollarse en cualquier mujer, independientemente de su edad o nivel social. Para enfrentar una situación de salud de este tipo, las pacientes requieren mucho respaldo de su familia, amigos y seres queridos. Por eso, la motivación, el afecto, la comprensión, la empatía, son vitales porque ayudarán a asumir con positivismo y entusiasmo la cirugía, los tratamientos, terapias o cualquier otra indicación médica, lo que contribuirá a su mejoría.</p>
                
                <!--Boton al link de la pagina-->
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tipos de Cancer de Pulmon</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                  
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cancercolon.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">El cáncer del colon y recto es la afección cancerosa más común del tubo digestivo. En mujeres ocupa el segundo lugar, sólo después del carcinoma de mama como causa de la mortalidad por cáncer. En varones es tercer cáncer mortal más común, precedido por los carcinomas pulmonar y próstata.

                  Se estima que durante 1992 se presentaron en Estados Unidos casi 155,000 nuevos casos de cáncer de colon (110,000 de colon y 45,000 de recto) con una mortalidad por la enfermedad aproximada de 58,300 pacientes.</p>

                  <!--Boton al link de la pagina-->
                  
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tratamiento</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                   
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cancerpiel.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">El verano está lleno de actividades al aire libre. Probablemente usted se pone filtro solar y se lo pone a sus hijos cuando van a la piscina o a la playa. Pero, ¿sabía que debe proteger su piel con algo más que el filtro solar cada vez que está al aire libre?

                  La protección solar es importante durante todo el año, y lo mejor es usar varios tipos diferentes. Cuando esté trabajando en el jardín, viendo un evento deportivo o caminando por la tarde, haga que la protección solar sea un hábito diario para que pueda evitar las quemaduras solares y reducir su probabilidad de tener cáncer de piel.</p>
                
                <!--Boton al link de la pagina-->
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cancer de Prostata</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/prostata1.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">El hacerse la prueba de detección de cáncer colorrectal en forma regular a partir de los 45 años de edad es la clave para prevenir el cáncer colorrectal. Si tiene entre 45 y 75 años de edad, hágase pruebas de detección del cáncer colorrectal con regularidad. Si eres menor de 45 años y piensas poder estar en un alto riesgo de contraer cáncer colorrectal, o si eres mayor de 75 años, hable con su médico sobre las pruebas de detección.

                  Los pólipos colorrectales y el cáncer colorrectal no siempre causan síntomas, especialmente al principio. Por esta razón, son tan importantes las pruebas periódicas de detección del cáncer colorrectal.</p>
                
                <!--Boton al link de la pagina-->
                <form>
                  <a href="http://127.0.0.1:8000/prostata/">
                    <input type="button" class="btn btn-primary" value="Leer Sobre Cancer de Prostata">
                  </a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cancer de Pulmon</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cancerpulmon.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Si bien mantener buenos hábitos de vida puede reducir el riesgo de padecer cáncer de pulmón, no estamos exentos de padecerlo, por lo que un diagnóstico precoz y un tratamiento adecuado son claves para la supervivencia de los pacientes y su calidad de vida.</p>
                
                <!--Boton al link de la pagina-->
                <form>
                  <a href="http://127.0.0.1:8000/pulmon/">
                    <input type="button" class="btn btn-primary" value="Leer Sobre Cancer de Pulmon">
                  </a>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cancer De Pulmon</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                   
                  </div>
                  <div class="divider-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cancerutero.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">El cáncer de cuello uterino (cáncer cervical) puede ser detectado en sus etapas iniciales, y en ocasiones hasta puede prevernirse por completo mediante las pruebas programadas de rutina para la detección. Si se detecta a tiempo, el cáncer de cuello uterino es de los tipos de cáncer que se trata con mayor éxito.</p>
                
                <!--Boton al link de la pagina-->
                <form>
                  <a href="http://127.0.0.1:8000/Utero/">
                    <input type="button" class="btn btn-primary" value="Leer Sobre Cancer de Utero">
                  </a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
